<div class="col-10 col-offset-2">
    <div class="panel-content m-t-5" >
        <div>
            <h2>História zmen</h2>
        </div>

        <div class="container-filter">
            <form>
                <div class="wrapper-input">
                    <input type="text" placeholder="Dátum od">
                    <button type="button"><i class="fa fa-calendar-o"></i></button>
                </div>
                <div class="wrapper-input">
                    <input type="text" placeholder="Dátum do">
                    <button type="button"><i class="fa fa-calendar-o"></i></button>
                </div>
                <div class="wrapper-input">
                    <input type="text" placeholder="Vyhľadať...">
                    <button type="button"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>

        <table class="table-sortable">
            <tbody>
                <tr>
                    <th>Dátum a čas</th>
                    <th>Akcia</th>
                </tr>

                <tr>
                    <td>25. 12. 2016, 14:54</td>
                    <td>Užívateľ <b>Frantisek Dolezal</b> vytvoril nový návrh.</td>
                </tr>

                <tr>
                    <td>25. 12. 2016, 07:15</td>
                    <td>Užívateľ <b>Josef Mrkvička</b> aktualizoval dokumenty.</td>
                </tr>

                <tr>
                    <td>22. 12. 2016, 13:29</td>
                    <td>Užívateľ <b>Frantisek Dolezal</b> vytvoril nový návrh.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
