<%= render partial: 'clients/subheader' %>
<div class="panel panel-clean m-t-50" id="clientInfo">
  <%= render "clients/navigation" %>
  <div id="main-content">
    <%= render partial: 'pup' %>
  </div>
</div>
