<div class="flash">
  <% flash.each do |name, message| -%>
    <div class="alert flash__container flash__<%= name %>">
      <span class="flash__message"><%= message %></span>
    </div>
  <% end %>
</div>
